* {
margin: 0;
padding: 0;
}

body{
    background: rgb(240, 229, 227);
    background: linear-gradient(191deg, rgba(240, 229, 227, 1) 0%, rgba(222, 229, 239, 1) 17%, rgba(230, 235, 228, 1) 49%, rgba(239, 241, 220, 1) 77%, rgba(231, 239, 224, 1) 100%);
}

.logooutlook{
    width: 170px;
    margin-bottom: 20px;
}

.logoMicrosoft{
    width: 110px;
}

.titulocontenido{
    font-size: 1.5rem;
    font-weight: 600;
}

.subtitulo{
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 20px;
}

.correo{
    border-bottom: 16px;
}

.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

.cajaformulario{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 6px;
    border: 1px solid #818c94;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 40px;
}

footer{
    background-color: rgb(0, 0, 0);
}
